#aboutus {
    background: var(--color-1) url('../img/fondoheader_sm.jpg') repeat-x center top;
    text-align: center;
    color: var(--main-font-color);
    padding: 4.5em 1em;
    h1 {
        color: inherit;
        margin: 0 0 1em;
    }
}
#products {
    padding: 4em 0;
    text-align: center;
    text-transform: uppercase;
}
.products__flex {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    .clothes__block { 
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 150px;
        padding: 3em 2em 3em 0em;
        margin: 5em 0em 6em 0em;
        background-color: var(--color-2);
        gap: 0 16px;
        h2 {
            display: inline-block;
            width: calc(100% - 350px);
            font-size: 26px;
            color: var(--main-font-color);
            margin-top: 8px;
            margin-left: 12px;
        }
    }
    .img__block {
        height: 350px;
        width: 300px;
        overflow: hidden;
        border-radius: 12px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    #chaquetas {
        display: flex;
        padding-left: 2em;
        padding-top: 3em;
        padding-bottom: 3em;
        background-color: var(--color-2);
    }
    

}

#opinions {
   
}