#aboutus {
    background: var(--color-1) url('../img/fondoheader_sm.jpg') repeat-x center top;
    text-align: center;
    color: var(--main-font-color);
    padding: 4.5em 1em;
    h1 {
        color: inherit;
        margin: 0 0 1em;
    }
}
#products {
    padding: 4em 0;
    text-align: center;
    text-transform: uppercase;
}
.products__flex {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    h2 {
        font-size: 16px;
        color: var(--main-font-color);
        margin-top: 8px;
    }
    .clothes__block {
        display: flex;
        justify-content: right;
        padding: 3em 2em 3em 0em;
        margin: 5em 0em 3em 0em;
        background-color: var(--color-2);
    }
    #chaquetas {
        display: flex;
        justify-content: left;
        padding-left: 2em;
        padding-top: 3em;
        padding-bottom: 3em;
        margin: inherit;
        background-color: var(--color-2);
    }
    

}

#opinions {
   
}