#contact {
  main {
    background: white url("../img/fondoheader_sm.jpg") repeat-x center top;
    padding: 4.5em 1em 1em;
  }
  .address-block {
    background-color: var(--color-3);
    margin: 0 0 2em;
    padding: 2em 1em;
    border-radius: 6px;
    border: 3px solid var(--color-2);
    li {
      font-size: 1rem;
      color: var(--color-2);
      padding: 0.125em 0;
      margin: 0.125em 0;
      display: flex;
      align-items: center;
      a {
        color: inherit;
        i {
          font-size: 22px;
        }
      }
    }
  }
  .form__outer {
    display: flex;
    flex-direction: column;
    form {
      display: flex;
      flex-direction: column;
      input,
      textarea {
        padding: 10px 12px;
        border: none;
        font-size: 0.85rem;
        font-weight: 700;
        margin: 0 0 8px;
        border-radius: 6px;
        border: 3px solid transparent;
        outline: none;
        font-family: var(--main-font);
        transition: all 0.3s ease-in-out;
        &::placeholder {
          font-size: inherit;
        }
        &:invalid {
          border-color: red;
        }
        &:valid {
          border-color: green;
        }
      }
      input[type="submit"] {
        cursor: pointer;
        text-transform: uppercase;
        background-color: var(--color-1);
        border-color: var(--color-2);
        color: var(--color-3);
        &:hover,
        &:focus {
          background-color: var(--color-3);
          border-color: var(--color-2);
          color: var(--color-1);
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  #contact {
    .form__outer {
      width: 100%;
      max-width: 1024px;
      margin: 0 auto 3em;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 18px;
      h3 {
        width: 100%;
      }
      .address-block {
        width: 40%;
      }
      form {
        width: 53%;
      }
    }
  }
}
