:root {
    --title-font: 'Molle', cursive;
    --main-font: 'Yatra One', cursive;
    --main-font-color: #f4f1de;
    --secondary-font-color: #333;
    --color-1: #e07a5f;
    --color-2: #9e4f3a;
    --color-3: #f2cc8f;
}