body {
  main {
  background: white url("../img/fondoheader_sm.jpg") repeat-x center
  top;
  }
}
.venta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 1em;
    padding-top: 6em;
    .productoVenta {
        background-color: var(--color-1);
        width: auto;
        border-radius: 8px;
        padding: 16px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .bloqueTexto {
            display: flex;
            flex-direction: column;
            padding: 1em;
            color: var(--main-font-color);
            h3 {
                color: var(--main-font-color);
                font-size: 16px;
            }
            button {
                margin-top: 1em;
                padding: 0.25em 1em;
                border-radius: 6px;
                background-color: var(--color-3);
                cursor: pointer;
                color: var(--color-2);
                border: none;
                border: 2px solid var(--color-2);
                transition: all 0.3s ease;
                &:hover {
                  color: var(--color-3);
                  background-color: var(--color-2);
                  border-color: var(--color-3);
                }
              }
        }
        .fotoProducto {
            width: 100%;
            height: 350px;
            object-fit: cover;
            border-radius: 12px;
            overflow: hidden;
        }        
    }
}
.mensaje {
    display: none;
    width: 240px;
    margin-top: 1em;
    font-size: 16px;
    transition: max-height 0.5s ease, opacity 0.5s ease;
   
}

@media screen and (min-width: 769px){
  .venta {
    .productoVenta {
      flex-wrap: nowrap;
      align-items: flex-start;
      .fotoProducto {
        margin-top: 1em;
        width: 280px;
      }
      .bloqueTexto {
        display: block;
        margin: auto 0;
        text-align: center;
        button {
          min-width: 220px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
}
